/* Start Globle Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1797e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
/* Larger */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  border: 2px solid #333;
  padding: 10px 20px;
  width: fit-content;
  margin: 0px auto 80px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.main-title:hover {
  transition-delay: 0.5s;
  border: 2px solid var(--main-color);
  color: white;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
/* End Globle Rules */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 800;
  height: 75px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: #333;
  height: 75px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
  font-weight: bold;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100%);
}
.header .main-nav > li > a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100%;
  top: calc(100% + 50px);
  left: 0;
  z-index: -1;
  gap: 40px;
  padding: 30px;
  border-bottom: 5px solid var(--main-color);
  border-top: 1px solid #e9e6e6;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition),
    z-index var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  width: 600px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  background-color: #fafafa;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  font-size: 18px;
  padding: 15px;
  display: block;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  background-color: #ececec;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 75px);
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h2 {
  font-size: 2.6em;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h2 {
    font-size: 2em;
  }
}
.landing .text p {
  line-height: 1.6;
  font-size: 1.4em;
  color: #777;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 1.1em;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.landing .go-down a {
  color: var(--main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
  transition: var(--main-transition);
}
.landing .go-down i:hover {
  color: var(--main-color-alt);
  cursor: pointer;
}
/* End Landing */

/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .box {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
  transform: translateY(-10px);
}
.articles .container .box img {
  width: 100%;
  max-width: 100%;
}
.articles .container .box .content {
  padding: 20px;
}
.articles .container .box .content h3 {
  margin: 0;
  text-transform: capitalize;
}
.articles .container .box .content p {
  line-height: 1.6;
  color: #777;
  margin: 5px 0 0;
}
.articles .container .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}
.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .info i {
  color: var(--main-color);
}
.articles .container .box:hover .info i {
  animation: moving-arrow var(--main-transition) linear infinite;
}
/* End Articles */

/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .box {
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  padding: 10px;
  background-color: white;
}
.gallery .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box .image img {
  max-width: 100%;
  width: 100%;
  display: block;
  transition: transform var(--main-transition);
}
.gallery .box .image:hover img {
  transform: scale(1.2) rotate(5deg);
}
/* End Gallery */

/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: white;
  position: relative;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .container .box {
  text-align: center;
  border: 1px solid #ddd;
}
.features .container .box .image-holder {
  position: relative;
  overflow: hidden;
}
.features .container .box .image-holder::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0px 0px 170px 450px;
  border-color: transparent transparent white transparent;
  top: 0;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}
.features .container .box:hover .image-holder::after {
  border-width: 0px 370px 170px 450px;
}
.features .container .box .image-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0px;
}
.features .container .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .passion .image-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image-holder img {
  max-width: 100%;
}
.features .container .box h2 {
  font-size: 40px;
  width: fit-content;
  margin: 20px auto;
  position: relative;
}
.features .container .box h2::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  left: 15px;
  bottom: -20px;
}
.features .container .quality h2::after {
  background-color: #f44036;
}
.features .container .time h2::after {
  background-color: #009688;
}
.features .container .passion h2::after {
  background-color: #03a9f4;
}
.features .container .box p {
  color: #777;
  line-height: 2;
  font-size: 17px;
  margin: 30px 0;
  padding: 25px;
}
.features .container .box a {
  border: 2px solid transparent;
  display: block;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto 40px;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .container .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .container .box a:hover {
  background-position: left bottom;
  color: white;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials .box {
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 20px;
}
.testimonials .box img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -10px;
  top: -50px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
}
.testimonials .box h3 {
  margin: 10px 0;
}
.testimonials .box .title {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.testimonials .box .rate .filled {
  color: #ffd103;
}
.testimonials .box p {
  margin-bottom: 5px;
  color: #555;
}
/* End Testimonials */

/* Start Team */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
}

.team .box::before {
  width: calc(100% - 60px);
  background-color: #f3f3f3;
  z-index: -2;
}
.team .box::after {
  width: 0;
  background-color: #e4e3e3;
  z-index: -1;
  transition: var(--main-transition);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  padding-top: 50px;
  display: flex;
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box:hover .data img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
}
.team .box .data .social a i {
  transition: var(--main-transition);
}
.team .box .data .social a:hover i {
  font-size: 20px;
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 0;
  transition: var(--main-transition);
}
.team .box:hover .info h3 {
  color: #777;
}
.team .box .info p {
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.team .box:hover .info p {
  color: #777;
}
/* End Team */

/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: var(--main-transition);
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  color: #888;
  display: block;
  margin: 30px 10px 20px;
  text-align: center;
}
.services .box p {
  color: var(--main-color);
  font-size: 1.6em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f8f8f8;
}
.services .box .info a {
  text-align: right;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--main-color);
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  width: 80px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}
.services .box .info::after {
  content: "";
  background-color: #d1d1d1;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 80px;
  transform: skewX(-30deg);
}
/* End Services */

/* Start Our Skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  /* align-items: center; */
}
@media (max-width: 991px) {
  .our-skills .container {
    flex-direction: column;
  }
}
.our-skills .container img {
  width: 500px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .our-skills .container img {
    margin: auto;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill h3 {
  font-size: 1.5em;
}
.our-skills .skills .skill .progress {
  background-color: #ddd;
  height: 30px;
  border-radius: 5px;
  position: relative;
}
.our-skills .skills .skill .progress::before {
  content: attr(data-prog);
  position: absolute;
  right: 0px;
  top: -40px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: var(--main-color);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 15px;
}
.our-skills .skills .skill .progress span {
  height: 100%;
  background-color: var(--main-color);
  border-radius: 5px;
  display: block;
  transition: 0.9s ease-in;
}
/* End Our Skills */

/* Start Work Steps */
.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.work-steps .container {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
  .work-steps .steps {
    margin-top: 30px;
  }
}
.work-steps .image {
  width: 450px;
  max-width: 100%;
}
.work-steps .steps .box {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .work-steps .steps .box {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .steps .box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: #e7e7e7;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: -1;
  transition: var(--main-transition);
}
.work-steps .steps .box:hover:before {
  width: 100%;
  height: 100%;
}
.work-steps .steps .box img {
  width: 80px;
  height: 80px;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .work-steps .steps .box img {
    margin: 0 0 30px;
  }
}
.work-steps .steps .box .text h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}
.work-steps .steps .box .text p {
  color: #777;
  line-height: 1.8;
}
/* End Work Steps */

/* Start Event */
.event {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.event .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.event .container > img {
  max-width: 450px;
  width: 100%;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 991px) {
  .event .container > img {
    margin: 20px auto;
  }
}
.event .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}
.event .info .time {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.event .info .time .unit {
  border: 2px solid #d5d5d5;
  border-radius: 10px;
  width: 80px;
  transition: var(--main-transition);
}
.event .info .time .unit:hover {
  border-color: var(--main-color);
}
.event .info .time .unit span {
  display: block;
  text-align: center;
}
.event .info .time .unit span:first-child {
  font-size: 2.5em;
  font-weight: bold;
  color: var(--main-color);
  padding: 15px 10px;
}
.event .info .time .unit span:last-child {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
  padding: 10px;
}
.event .info .title {
  text-align: center;
  font-size: 1.8em;
  margin: 35px 0px 20px;
}
.event .info .description {
  color: #777;
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
  padding: 0 20px;
  font-weight: 800;
  margin: 0;
}
.event .subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.event .subscribe form {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 25px 30px;
  border-radius: 126px;
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .event .subscribe form {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
}
.event .subscribe input[type="text"] {
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  flex: 1;
  outline: none;
  caret-color: var(--main-color);
}
.event .subscribe input[type="text"]::placeholder {
  transition: opacity var(--main-transition);
}
.event .subscribe input[type="text"]:focus::placeholder {
  opacity: 0;
}
.event .subscribe input[type="submit"] {
  padding: 20px;
  background-color: var(--main-color);
  color: white;
  font-size: 1.2em;
  border: none;
  margin-left: 20px;
  border-radius: 40px;
  transition: var(--main-transition);
}
.event .subscribe input[type="submit"]:hover {
  background-color: var(--main-color-alt);
  cursor: pointer;
}
@media (max-width: 767px) {
  .event .subscribe input[type="text"],
  .event .subscribe input[type="submit"] {
    border-radius: 0;
    max-width: 100%;
  }
  .event .subscribe input[type="submit"] {
    font-size: 1.3em;
    margin: 20px 0;
  }
}
/* End Event */

/* Start Pricing */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
.pricing .box::before,
.pricing .box::after {
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  background-color: #f7f7f7;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing .box::before {
  top: 0;
  left: 0;
}
.pricing .box::after {
  bottom: 0;
  right: 0;
}
.pricing .box:hover::before,
.pricing .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing .box.popular {
    top: -30px;
  }
}
.pricing .box.popular .label {
  background-color: var(--main-color);
  color: white;
  font-size: 1.3em;
  writing-mode: vertical-lr;
  padding: 10px 10px 35px 10px;
  position: absolute;
  right: 25px;
  width: 40px;
}
.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white;
  bottom: -1px;
  left: 0;
  transition: var(--main-transition);
}
.pricing .box.popular:hover .label::before {
  border-color: transparent transparent #f7f7f7;
}
.pricing .box .title {
  text-align: center;
  padding: 40px 20px;
  font-size: 1.6em;
  font-weight: bold;
}
.pricing .box > img {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.pricing .box .price {
  text-align: center;
  margin: 30px 0;
}
.pricing .box .price .amount {
  font-size: 3em;
  font-weight: bold;
  color: var(--main-color);
  display: block;
  margin: 10px 0;
}
.pricing .box .price .time {
  font-weight: bold;
  color: #777;
}

.pricing .box ul li {
  padding: 15px;
  border-top: 1px solid #f1f1f1;
  font-size: 1.1em;
}
.pricing .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .box > a {
  display: block;
  background-color: transparent;
  color: var(--main-color);
  padding: 15px;
  width: fit-content;
  font-size: 1.3em;
  font-weight: bold;
  border: 2px solid var(--main-color);
  margin: 30px auto 40px;
  border-radius: 5px;
  transition: var(--main-transition);
}
.pricing .box > a:hover {
  background-color: var(--main-color);
  color: white;
}
/* End Pricing */

/* Start Videos */
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.videos .holder {
  display: flex;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 992px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: #ffffff;
}
.videos .holder .list .name {
  padding: 20px;
  background-color: #f2f2f2;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.videos .holder .list .name i {
  transition: var(--main-transition);
}
.videos .holder .list .name i:hover {
  color: var(--main-color);
  cursor: pointer;
}
.videos .holder .list ul li {
  border: 1px solid #ddd;
  padding: 10px 20px;
  line-height: 1.6;
  transition: var(--main-transition);
}
.videos .holder .list ul li.active {
  background-color: #f3f3f3;
  color: var(--main-color);
  border-color: #ddd #ddd #ddd var(--main-color);
  font-weight: bold;
}
.videos .holder .list ul li:hover {
  color: var(--main-color);
  border-color: #ddd #ddd #ddd var(--main-color);
  cursor: pointer;
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .preview {
  width: 100%;
  padding: 10px;
}
.videos .holder .preview .box {
  display: none;
}
.videos .holder .preview .box.active {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.videos .holder .preview img {
  max-width: 100%;
  width: 100%;
}
.videos .holder .preview .info {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
}
/* End Videos */

/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
  background-image: url(../images/stats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 84%);
  top: 0;
  left: 0;
}
.stats h2 {
  position: relative;
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 50px;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.stats .box {
  background-color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 5px;
  height: 0%;
  transition: 1s;
}
.stats .box::before {
  left: 0;
  bottom: 0;
}
.stats .box::after {
  top: 0;
  right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box i {
  margin-top: 10px;
}
.stats .box .number {
  display: block;
  font-size: 4em;
  margin: 10px 5px;
  font-weight: bold;
}
.stats .box .text {
  display: block;
  font-size: 1.2em;
  color: var(--main-color);
  font-weight: bold;
  font-style: italic;
}
/* End Stats */

/* Start Discount */
.discount {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.discount .image {
  position: relative;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .image::before {
  content: "";
  position: absolute;
  background-color: rgb(33 150 243 / 96%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.discount .image p {
  max-width: 500px;
  margin: auto;
  font-size: 1.2em;
  color: #fff;
  line-height: 1.6;
  font-weight: bold;
}
.discount .image img {
  max-width: 100%;
  width: 300px;
}
.discount .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form form {
  max-width: 350px;
  width: 100%;
  margin: 10px auto 20px;
}
.discount .form .input {
  display: block;
  border: none;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form textarea.input {
  width: 100%;
  height: 200px;
  resize: none;
  caret-color: var(--main-color);
}
.discount .form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
}
.discount .content h2 {
  font-size: 2.5em;
  margin: 50px 10px 25px;
  letter-spacing: -1px;
}
/* End Discount */

/* Start Footer */
.footer {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: #191919;
  color: white;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .box h3 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer .box .social {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  display: inline-flex;
}
.footer .box .social li a {
  background-color: #444;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.footer .box .social li:hover a.facebook {
  background-color: #0079d5;
}
.footer .box .social li:hover a.twitter {
  background-color: #0099ff;
}
.footer .box .social li:hover a.youtube {
  background-color: #ff1400;
}
.footer .box .social li i {
  color: #f1f1f1;
}
.footer .box .text {
  line-height: 1.6;
  font-size: 1.1em;
  color: #999;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li a {
  display: block;
  color: #999;
  padding: 15px 10px;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .links li:hover a {
  padding-left: 20px;
  color: white;
}
.footer .box .line {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  padding: 10px 0;
}
.footer .box .line i {
  color: var(--main-color);
  font-size: 1.8em;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
  .footer .box .line i {
    margin: 0 0 20px;
  }
}
.footer .box .line .info {
  line-height: 1.6;
  font-size: 1em;
  color: #999;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .gallery-group img {
  max-width: 100%;
  width: 78px;
  margin: 2px;
  border: 3px solid white;
}
.copyright {
  background-color: #191919;
  color: white;
  padding: 25px 10px;
  margin: 0;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 1.1em;
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: 30px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
}
/* End Animation */
