/* Start Globle Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1797e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
/* Larger */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Globle Rules */

/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 800;
  height: 75px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: #333;
  height: 75px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
  font-weight: bold;
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100%);
}
.header .main-nav > li > a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  display: flex;
  position: absolute;
  background-color: white;
  width: 100%;
  top: calc(100% + 50px);
  left: 0;
  z-index: -1;
  gap: 40px;
  padding: 30px;
  border-bottom: 5px solid var(--main-color);
  border-top: 1px solid #e9e6e6;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition),
    z-index var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  width: 600px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 240px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  background-color: #fafafa;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  font-size: 18px;
  padding: 15px;
  display: block;
  font-weight: bold;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
/* End Header */
